@import "variables";

/*-------------------- CAMBIOS en INDEX --------------------*/
/*IMAGEN DE FONDO*/
#inicio-index {
	background-image: url(../media/sinfondogrande.png);
	background-position: top left;
	background-repeat: repeat-y;
	background-size: 1500px;
}
/*BIENVENIDA*/
.main-title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 50%;
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 13vw;
	text-align: left;
	margin-top: 10%;
	margin-bottom: 5%;
}

.main-title__hello {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 2vw;
	color: black;
	margin-top: 5%;
	margin-bottom: 3%;
}

.main-title__text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2vw;
	display: inline-block;
	text-align: left;
	text-align: justify;
	color: black;
}

/*GALERIA PRINCIPAL*/
.main-gallery {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

/*VALORES*/

.bg-custom {
	background-color: black;
	height: 50%;
	margin-top: 10%;
	margin-bottom: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.section-value__text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2vw;
	color: white;
	align-items: center;
}

.section-value__strongText {
	font-size: 1.8vw;
	font-weight: bold;
	color: white;
}

/*SABER MAS SERVICIOS*/
.section-servicios {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.section-servicios__img {
	margin-left: auto;
	margin-bottom: 150px;
}

.section-servicios__text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	display: inline-block;
	background-color: white;
	height: 350px;
	width: 800px;
	text-align: justify;
	padding: 50px 50px 50px 50px;
	margin-right: auto;
}

.section-servicios__strongText {
	font-size: 3rem;
	font-weight: bold;
	color: black;
}
/*CONTACTO*/

.main-contact {
	width: 100%;
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 4vw;
	text-align: left;
}

.section-contact__text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2vw;
	text-align: justify;
	width: 100%;
	margin-top: 5%;
}


