@import "variables";

/*-------------------- CAMBIOS en PORTFOLIO --------------------*/
/*IMAGEN DE FONDO*/
/*#inicio-portfolio {
	background-image: url(../media/inicioportfolio1.png);
	background-position: top center;
	
}*/

.portfolio-gallery {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30%;
	margin-bottom: 30%;
}
