

/*------------------------------------VARIABLES DEL PROYECTO-----------------------------------------*/


/*VARIABLES MENU*/

/*VARIABLES TITULOS SERVICIOS*/
$font-poppins: Poppins;
$font-pink: #F012BE; /*pink*/
$font-3rem: 3rem;
$font-bold: bold;

/*VARIABLES TEXTOS SERVICIOS*/
$font-text: Open Sans;
$font-black: #000000; /*black*/
$font-texttamaño: 2.5rem;